<nav class="w-full flex justify-between items-center pr-4 border-b shadow-md">
  <div class="cursor-pointer">
    <img alt="logo" src="../../assets/NAILSURENT.svg" routerLink="/" />
  </div>
  <div *ngIf="!isLoginRoute" class="flex space-x-8">
    <div class="flex items-center">
      <ng-icon name="bootstrapPersonFill" size="1.75rem" color="#FF66C4" />
      <a
        routerLink="login"
        class="text-sm font-bold text-[#FF66C4] hover:underline"
        >Log in</a
      >
    </div>
    <ng-icon name="bootstrapList" size="1.75rem" color="#FF66C4" />
  </div>
</nav>
