<div class="flex flex-col h-full space-y-8 p-8">
  <h1 class="zilla text-gray-700 text-4xl font-bold">
    Let's get to know about your nail maintenance
  </h1>
  <div class="flex flex-col">
    <p class="pb-2 zilla font-bold text-gray-500 text-2xl">
      How often do you get acrylic/gel finger nails?
    </p>
    <div class="flex">
      <input
        type="radio"
        id="nailsDoneWeekly"
        name="nailsDoneFrequency"
        value="weekly"
        class="mr-2"
        [(ngModel)]="answers.nailsDoneFrequency"
      />
      <label class="zilla text-gray-800" for="nailsDoneWeekly">Weekly</label>
    </div>
    <div class="flex">
      <input
        type="radio"
        id="nailsDoneMonthly"
        name="nailsDoneFrequency"
        value="monthly"
        class="mr-2"
        [(ngModel)]="answers.nailsDoneFrequency"
        (change)="log()"
      />
      <label class="zilla text-gray-800" for="nailsDoneMonthly">Monthly</label>
    </div>
    <div class="flex">
      <input
        type="radio"
        id="nailsDoneLessFrequently"
        name="nailsDoneFrequency"
        value="lessFrequently"
        class="mr-2"
        [(ngModel)]="answers.nailsDoneFrequency"
        (change)="log()"
      />
      <label class="zilla text-gray-800" for="nailsDoneLessFrequently"
        >Less frequently</label
      >
    </div>
  </div>
  <div class="flex flex-col">
    <p class="pb-2 zilla font-bold text-gray-500 text-2xl">
      Approximately, how much do you spend on finger nail maintenance per month?
    </p>
    <div class="flex">
      <input
        type="radio"
        id="nailExpense0"
        name="nailMaintenanceExpense"
        value="0"
        class="mr-2"
        [(ngModel)]="answers.nailMaintenanceExpense"
      />
      <label class="zilla text-gray-800" for="nailExpense0">$0</label>
    </div>
    <div class="flex">
      <input
        type="radio"
        id="nailExpense25-50"
        name="nailMaintenanceExpense"
        value="25-50"
        class="mr-2"
        [(ngModel)]="answers.nailMaintenanceExpense"
      />
      <label class="zilla text-gray-800" for="nailExpense25-50"
        >$25 - $50</label
      >
    </div>
    <div class="flex">
      <input
        type="radio"
        id="nailExpense51-100"
        name="nailMaintenanceExpense"
        value="51-100"
        class="mr-2"
        [(ngModel)]="answers.nailMaintenanceExpense"
      />
      <label class="zilla text-gray-800" for="nailExpense51-100"
        >$51 - $100</label
      >
    </div>
    <div class="flex">
      <input
        type="radio"
        id="nailExpense100plus"
        name="nailMaintenanceExpense"
        value="100plus"
        class="mr-2"
        [(ngModel)]="answers.nailMaintenanceExpense"
      />
      <label class="zilla text-gray-800" for="nailExpense100plus"
        >Over $100</label
      >
    </div>
  </div>
  <div class="flex flex-col">
    <p class="pb-2 zilla font-bold text-gray-500 text-2xl">
      Have you ever experienced manicure damage?
    </p>
    <div class="flex">
      <input
        type="radio"
        id="nailDamageYes"
        name="nailDamage"
        value="true"
        [(ngModel)]="answers.nailDamage"
        class="mr-2"
      />
      <label class="zilla text-gray-800" for="nailDamageYes">Yes</label>
    </div>
    <div class="flex">
      <input
        type="radio"
        id="nailDamageNo"
        name="nailDamage"
        value="false"
        [(ngModel)]="answers.nailDamage"
        class="mr-2"
      />
      <label class="zilla text-gray-800" for="nailDamageNo">No</label>
    </div>
  </div>
  <div class="flex flex-col">
    <p class="pb-2 zilla font-bold text-gray-500 text-2xl">
      How often do you experience finger nail breakage in a year?
    </p>
    <div class="flex">
      <input
        type="radio"
        id="nailBreakRarely"
        name="nailBreakageFrequency"
        value="rarely"
        class="mr-2"
        [(ngModel)]="answers.nailBreakageFrequency"
      />
      <label class="zilla text-gray-800" for="nailBreakRarely"
        >Rarely (Less than 1 time)</label
      >
    </div>
    <div class="flex">
      <input
        type="radio"
        id="nailBreakOccasionally"
        name="nailBreakageFrequency"
        value="occasionally"
        class="mr-2"
        [(ngModel)]="answers.nailBreakageFrequency"
      />
      <label class="zilla text-gray-800" for="nailBreakOccasionally"
        >Occasionally (1-3 times)</label
      >
    </div>
    <div class="flex">
      <input
        type="radio"
        id="nailBreakFrequently"
        name="nailBreakageFrequency"
        value="frequently"
        class="mr-2"
        [(ngModel)]="answers.nailBreakageFrequency"
      />
      <label class="zilla text-gray-800" for="nailBreakFrequently"
        >Frequently (4 or more times)</label
      >
    </div>
  </div>
  <div class="flex flex-col">
    <p class="pb-2 zilla font-bold text-gray-500 text-2xl">
      When you do break your finger nails, how many fingers nails do you usually
      end up breaking?
    </p>
    <div class="flex">
      <input
        type="radio"
        id="nailBreak1-2"
        name="nailBreakCount"
        value="1-2"
        class="mr-2"
        [(ngModel)]="answers.nailBreakCount"
      />
      <label class="zilla text-gray-800" for="nailBreak1-2">1 - 2</label>
    </div>
    <div class="flex">
      <input
        type="radio"
        id="nailBreak3-4"
        name="nailBreakCount"
        value="3-4"
        class="mr-2"
        [(ngModel)]="answers.nailBreakCount"
      />
      <label class="zilla text-gray-800" for="nailBreak3-4">3 - 4</label>
    </div>
    <div class="flex">
      <input
        type="radio"
        id="nailBreak5plus"
        name="nailBreakCount"
        value="5plus"
        class="mr-2"
        [(ngModel)]="answers.nailBreakCount"
      />
      <label class="zilla text-gray-800" for="nailBreak5plus">5 or more</label>
    </div>
    <div class="flex">
      <input
        type="radio"
        id="nailBreakNone"
        name="nailBreakCount"
        value="none"
        class="mr-2"
        [(ngModel)]="answers.nailBreakCount"
      />
      <label class="zilla text-gray-800" for="nailBreakNone">0</label>
    </div>
  </div>
  <div class="flex flex-col">
    <p class="pb-2 zilla font-bold text-gray-500 text-2xl">
      When you experience finger nail breakage, do you believe it is primarily
      caused by?
    </p>
    <div class="flex">
      <input
        type="radio"
        id="nailBreakCauseActions"
        name="nailBreakCause"
        value="actions"
        [(ngModel)]="answers.nailBreakCause"
      />
      <label class="zilla text-gray-800" for="nailBreakCauseActions"
        >My actions or negligence</label
      >
    </div>
    <div class="flex">
      <input
        type="radio"
        id="nailBreakCauseCircumstances"
        name="nailBreakCause"
        value="circumstances"
        [(ngModel)]="answers.nailBreakCause"
      />
      <label class="zilla text-gray-800" for="nailBreakCauseCircumstances"
        >External circumstances (e.g., accidents)</label
      >
    </div>
  </div>
  <button
    (click)="navigateToSubscriptionSuggestion(answers)"
    class="self-start border rounded bg-blue-400 text-white p-2 w-full py-4 text-2xl font-bold zilla"
  >
    Continue
  </button>
  <div class="h-8 border border-transparent">{{ "" }}</div>
</div>
