<div class="flex flex-col">
  <div class="flex flex-col">
    <p>How often do you get acrylic/gel finger nails?</p>
    <div class="flex">
      <input
        type="radio"
        id="nailsDoneWeekly"
        name="nailsDoneFrequency"
        value="weekly"
      />
      <label for="nailsDoneWeekly" class="mr-6">Weekly</label>
    </div>
    <div class="flex">
      <input
        type="radio"
        id="nailsDoneMonthly"
        name="nailsDoneFrequency"
        value="monthly"
      />
      <label for="nailsDoneMonthly" class="mr-6">Monthly</label>
    </div>
    <div class="flex">
      <input
        type="radio"
        id="nailsDoneLessFrequently"
        name="nailsDoneFrequency"
        value="lessFrequently"
      />
      <label for="nailsDoneLessFrequently">Less frequently</label>
    </div>
  </div>
  <div class="flex flex-col">
    <p>
      Approximately, how much do you spend on finger nail maintenance per month?
    </p>
    <div class="flex">
      <input
        type="radio"
        id="nailExpense0"
        name="nailMaintenanceExpense"
        value="0"
        class="mr-2"
      />
      <label for="nailExpense0" class="mr-6">$0</label>
    </div>
    <div class="flex">
      <input
        type="radio"
        id="nailExpense25-50"
        name="nailMaintenanceExpense"
        value="25-50"
        class="mr-2"
      />
      <label for="nailExpense25-50" class="mr-6">$25 - $50</label>
    </div>
    <div class="flex">
      <input
        type="radio"
        id="nailExpense51-100"
        name="nailMaintenanceExpense"
        value="51-100"
        class="mr-2"
      />
      <label for="nailExpense51-100" class="mr-6">$51 - $100</label>
    </div>
    <div class="flex">
      <input
        type="radio"
        id="nailExpense100plus"
        name="nailMaintenanceExpense"
        value="100plus"
        class="mr-2"
      />
      <label for="nailExpense100plus">Over $100</label>
    </div>
  </div>
  <div class="flex flex-col">
    <p>Have you ever experienced manicure damage?</p>
    <div class="flex">
      <input type="radio" id="nailDamageYes" name="nailDamage" value="true" />
      <label for="nailDamageYes" class="mr-6">Yes</label>
    </div>
    <div class="flex">
      <input type="radio" id="nailDamageNo" name="nailDamage" value="false" />
      <label for="nailDamageNo">No</label>
    </div>
  </div>
  <div class="flex flex-col">
    <p>How often do you experience finger nail breakage in a year?</p>
    <div class="flex">
      <input
        type="radio"
        id="nailBreakRarely"
        name="nailBreakageFrequency"
        value="rarely"
        class="mr-2"
      />
      <label for="nailBreakRarely" class="mr-6"
        >Rarely (Less than 1 time)</label
      >
    </div>
    <div class="flex">
      <input
        type="radio"
        id="nailBreakOccasionally"
        name="nailBreakageFrequency"
        value="occasionally"
        class="mr-2"
      />
      <label for="nailBreakOccasionally" class="mr-6"
        >Occasionally (1-3 times)</label
      >
    </div>
    <div class="flex">
      <input
        type="radio"
        id="nailBreakFrequently"
        name="nailBreakageFrequency"
        value="frequently"
        class="mr-2"
      />
      <label for="nailBreakFrequently">Frequently (4 or more times)</label>
    </div>
  </div>
  <div class="flex flex-col">
    <p>
      When you do break your finger nails, how many fingers nails do you usually
      end up breaking?
    </p>
    <div class="flex">
      <input
        type="radio"
        id="nailBreak1-2"
        name="nailBreakCount"
        value="1-2"
        class="mr-2"
      />
      <label for="nailBreak1-2" class="mr-6">1 - 2</label>
    </div>
    <div class="flex">
      <input
        type="radio"
        id="nailBreak3-4"
        name="nailBreakCount"
        value="3-4"
        class="mr-2"
      />
      <label for="nailBreak3-4" class="mr-6">3 - 4</label>
    </div>
    <div class="flex">
      <input
        type="radio"
        id="nailBreak5plus"
        name="nailBreakCount"
        value="5plus"
        class="mr-2"
      />
      <label for="nailBreak5plus" class="mr-6">5 or more</label>
    </div>
    <div class="flex">
      <input
        type="radio"
        id="nailBreakNone"
        name="nailBreakCount"
        value="none"
        class="mr-2"
      />
      <label for="nailBreakNone">0</label>
    </div>
  </div>
  <div class="flex flex-col">
    <p>
      When you experience finger nail breakage, do you believe it is primarily
      caused by?
    </p>
    <div class="flex">
      <input
        type="radio"
        id="nailBreakCauseActions"
        name="nailBreakCause"
        value="actions"
        class="mr-2"
      />
      <label for="nailBreakCauseActions" class="mr-6"
        >My actions or negligence</label
      >
    </div>
    <div class="flex">
      <input
        type="radio"
        id="nailBreakCauseCircumstances"
        name="nailBreakCause"
        value="circumstances"
        class="mr-2"
      />
      <label for="nailBreakCauseCircumstances" class="mr-6"
        >External circumstances (e.g., accidents)</label
      >
    </div>
    <div class="flex">
      <input
        type="radio"
        id="nailBreakCauseNone"
        name="nailBreakCause"
        value="none"
        class="mr-2"
      />
      <label for="nailBreakCauseNone">I don't get nail treatments</label>
    </div>
  </div>
</div>
