<div class="h-full flex flex-col p-8 items-center space-y-8 overflow-auto">
  <h1 class="font-bold text-center text-3xl">Good Afternoon</h1>
  <div class="flex flex-col border rounded-2xl shadow-xl overflow-hidden">
    <div class="w-full h-64 overflow-hidden">
      <img
        class="h-64 w-full object-cover border"
        src="../../assets/nail.gif"
        alt=""
      />
    </div>
    <div class="flex flex-col bg-gray-100 p-4">
      <div>Watch your savings add up</div>
      <div>
        Customers who switch to Nailsurent nail insurance save an average of 24%
        See how much you can save.
      </div>
    </div>
  </div>
  <div class="self-start">Hints & Tips</div>
  <div class="flex flex-col rounded-2xl border shadow-xl w-full p-6 h-48">
    <div>New Features</div>
    <div>Take a look at what's new in the Nailsurent app.</div>
    <div class="text-center">View</div>
  </div>
</div>
