<div class="h-full w-full flex flex-col p-8">
  <h1 class="text-3xl font-bold">Claims</h1>
  <div class="font-bold text-lg text-gray-700">What to know</div>
  <div class="flex flex-col rounded shadow-lg border mt-8 p-4">
    <div class="font-semibold">Should I file?</div>
    <div class="">
      Not all incedents are the same and you may be wondering whether or not to
      file a claim
    </div>
  </div>
  <div class="flex mt-8">
    <button
      class="bg-pink-400 text-white font-semibold w-full rounded py-4 shadow-md shadow-pink-400"
    >
      File a new claim
    </button>
    <claims-container />
  </div>
</div>
